<%- include('partials/header', { title: 'User List' }) %>

<div class="container mx-auto py-8">
  <h1 class="text-2xl font-bold mb-6">All Registered Users</h1>
  <table class="min-w-full bg-white rounded-lg shadow overflow-hidden">
    <thead>
      <tr class="bg-gray-100 text-left">
        <th class="py-3 px-6">ID</th>
        <th class="py-3 px-6">Name</th>
        <th class="py-3 px-6">Email</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr class="border-t">
          <td class="py-3 px-6"><%= user.id %></td>
          <td class="py-3 px-6"><%= user.name %></td>
          <td class="py-3 px-6"><%= user.email %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <div class="mt-6">
    <a href="/" class="inline-block bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
      <i class="fas fa-arrow-left mr-1"></i> Back to Home
    </a>
  </div>
</div>

<%- include('partials/footer') %>
<script>
  // This script can be used to enhance the user list page if needed
</script>